<div class="container dashboard">
    {{>dashboard_nav}}
    <div class="dash_body">
        </br>
        </br>
        <h1 style='color: red; background-color: black'>
            <center> WELCOME TO GAME REVIEW SYSTEM</center>
        </h1>

        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        
        <div>
            
                <h2 style="color:red"> NITESH BAJPAYEE</h2>
            
        </div>
    </div>
</div>